__pycache__/
*.pyc

# Ignore logs
.cache
cache
.env
*.key
configs/

# Ignore data       
data/
model_checkpoints

set_keys.sh

data_generation/gaia_pipeline/final_save
data_generation/gaia_pipeline/log
MAT
data_generation/gaia_pipeline/save

wandb
wandb/
*.key
